<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VideoLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>38BD63111E29DF7700D5ABFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38BD63251E29DF7700D5ABFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>38BD63301E29DF7800D5ABFF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
